@charset "utf-8";

html {
    font-size: 100%;
}

body {}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    justify-content: space-between;
}

#head-content {
    display: flex;
}

ul {
    display: ;
}

nav {
    position: relative;
}

nav::before {
    content: "^";
    position: absolute;
}

nav.active::before {
    content: "^";
}

.btn {
    border-radius: 5px;
    background-color: #186AC9;
    text-align: center;
    font-size: 0.5rem;
}

.btn a {
    font-weight: thin;
    color: #fff;
}



/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
